/*Core*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0088cc/*#2b4e84*/
}
a {
    /*color: #2b4e84*/
}
a:hover,
a:focus {
    color: #2b4e84
}
	/*Core > dropdown*/
.dropdown-menu {
    background: #3e65a0
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background: #0088cc/*#2b4e84*/
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: #0088cc/*#2b4e84*/
}
	/*Core > moodle-actionmenu*/
.jsenabled .usermenu .moodle-actionmenu.show {
    /*background: #183054*/background: #0088cc;
}
.usermenu .moodle-actionmenu:hover .toggle-display,
.usermenu .moodle-actionmenu:focus .toggle-display {
    /*background: #183054*/background: #0088cc;
}
.moodle-actionmenu.show[data-enhanced] .menu {
    background: #0088cc;/*#183054;*/
    background: rgba(0, 136, 204, .9);/*rgba(24, 48, 84, .9);*/
	 /*color: #0088cc;*/
}
.moodle-actionmenu.show[data-enhanced] .menu a:hover,
.moodle-actionmenu.show[data-enhanced] .menu a:focus,
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    /*background: #3e65a0*/color: #fff;
}
.jsenabled .usermenu .moodle-actionmenu > .menu .filler {
    /*background: #183054*/background: #0088cc;
}
	/*Core > bootstrap*/
.btn-primary {
    background: #3e65a0
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #0088cc/*#2b4e84*/
}


/*Header*/
/*#header{
    background-image: url("http://www.bioenciclopedia.com/wp-content/uploads/2013/10/pinguino-emperador4.jpg");
}*/
/*#header .header-main {
    background: #3e65a0background-image: url("Bannerfinal1.png");
}*/
#header .custom-menu > ul > li {
    background-image: url([[pix:theme|cs02/bg-menu-divider]])
}
#header .custom-menu > ul > li > a:hover,
#header .custom-menu > ul > li > a:focus {
	/*background: #0088cc;
	color: #fff;*/
}
/*#header .header-menubar {
    background: #2b4e84
}*/
#header .header-menubar .navbar .nav > li > a:focus,
#header .header-menubar .navbar .nav > li > a:hover {
    background-color: #0088cc;
}
#header .header-menubar .navbar .nav > .active > a,
#header .header-menubar .navbar .nav > .active > a:hover,
#header .header-menubar .navbar .nav > .active > a:focus {
    background: #183054
}
#header .header-menubar .navbar .nav li.dropdown.open > .dropdown-toggle,
#header .header-menubar .navbar .nav li.dropdown.active > .dropdown-toggle,
#header .header-menubar .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #183054
}
#header .header-menubar .dropdown-menu {
    background: #183054
}
#header .header-menubar .dropdown-menu > li > a:hover,
#header .header-menubar .dropdown-menu > li > a:focus,
#header .header-menubar .dropdown-submenu:hover > a,
#header .header-menubar .dropdown-submenu:focus > a {
    background: #3e65a0
}
#header .header-menubar .dropdown-menu > .active > a,
#header .header-menubar .dropdown-menu > .active > a:hover,
#header .header-menubar .dropdown-menu > .active > a:focus {
    background: #3e65a0
}

#header .header-menubar .navbar .btn-navbar {
    background: #0088cc;/*#3e65a0*/
}
#header .header-menubar .navbar .btn-navbar:hover,
#header .header-menubar .navbar .btn-navbar:focus,
#header .header-menubar .navbar .btn-navbar:active,
#header .header-menubar .navbar .btn-navbar.active,
#header .header-menubar .navbar .btn-navbar.disabled,
#header .header-menubar .navbar .btn-navbar[disabled] {
	background: #0088cc;/*#3e65a0*/
}
#header .header-menubar .navbar .btn-navbar:active,
#header .header-menubar .navbar .btn-navbar.active {
	background: #0088cc;/*#3e65a0 \9*/
}
#header .header-menubar .custom-nav-search .fields-wrap {
    background: #fff/*#3b5f96*/
}
/**********************/
/*FONDO NAV-SEARCH*/
/**********************/
#header .custom-nav-search .fields-wrap {
    background: #0088cc/*#3b5f96*/
}
/**********************/
/*FIN FONDO NAV-SEARCH*/
/**********************/
@media (max-width: 979px) {
    #header .header-menubar .collapse.in,
    #header .header-menubar .navbar .nav-collapse.active {
        border-top-color: #0088cc;/*#3e65a0*/
	}
}


/*Footer*/
#footer .footer-main {
    background: #0088cc/*#3e65a0*/
}
#footer .social-media > ul > li > a:hover,
#footer .social-media > ul > li > a:focus {
    color: #183054
}
#footer .social-media > ul > li > a:hover .media-icon,
#footer .social-media > ul > li > a:focus .media-icon {
    background: #183054
}
#footer .footer-foot {
    background: /*#2b4e84*/#0C0C0C;
}
#footer .footer-foot .container-fluid {
    text-align: center;
}
#footer .footer-foot .container-fluid > h6 {
    color: #555;
    font-size: 0.9em;
}
/*Frontpage*/
	/*Frontpage > Home Page Carousel*/
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a {
    background: #3e65a0;
    border-bottom-color: #183054;
    border-bottom-color: rgba(24, 48, 84, .9)
}
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a:hover,
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a:focus {
    background: #3e65a0;
    border-bottom-color: #183054;
    border-bottom-color: rgba(24, 48, 84, .9)
}
.homepage-carousel .carousel-control {
    background: #0088cc;/*#2b4e84*/
}
	/*Frontpage > New/Featured Custom Course List Slider*/
.titlebar .slidenav .nav-item {
    color: #0088cc/*#2b4e84*/;
    border-color: #0088cc/*#2b4e84*/
}
.titlebar .slidenav .nav-item:hover,
.titlebar .slidenav .nav-item:focus {
    background: #0088cc/*#2b4e84*/
}
.custom-courses-list .course-box .thumb {
    border-color: #ccd8e8
}
.custom-courses-list .course-box .info h5 a {
    color: #0088cc/*#2b4e84*/
}
	/*Frontpage > Available Courses*/
#frontpage-course-list {
    border-color: #c0ccdc
}
#frontpage-course-list h2 {
    background: #e8f0fb;
    border-bottom-color: #c0ccdc
}
#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo h5 > a {
    color: #0088cc/*#2b4e84*/
}
	/*Frontpage > Category Listing*/
#frontpage-category-names {
    border-color: #c0ccdc
}
#frontpage-category-names h2 {
    background: #e8f0fb;
    border-bottom-color: #c0ccdc
}
.course_category_tree.frontpage-category-names .category.with_children > .info > .categoryname:before {
    color: #0088cc/*#2b4e84*/
}
	/*Frontpage > Site News Forum*/
#site-news-forum {
    border-color: #c0ccdc
}
#site-news-forum h2 {
    background: #e8f0fb;
    border-bottom-color: #c0ccdc
}
#site-news-forum .forumpost .subject {
    color: #0088cc/*#2b4e84*/
}


/*Moodle Core*/
#page-header .breadcrumb > li > .divider {
    color: #183054
}
#page-header .breadcrumb > li > .divider:before {
    color: #183054
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #3e65a0
}
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit input {
	background: #3e65a0
}
input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
input.form-submit:focus,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
.path-admin .buttons input[type="submit"]:focus,
td.submit input:focus,
input.form-submit:active,
input#id_submitbutton:active,
input#id_submitbutton2:active,
.path-admin .buttons input[type="submit"]:active,
td.submit input:active,
input.form-submit.active,
input#id_submitbutton.active,
input#id_submitbutton2.active,
.path-admin .buttons input.active[type="submit"],
td.submit input.active,
input.form-submit.disabled,
input#id_submitbutton.disabled,
input#id_submitbutton2.disabled,
.path-admin .buttons input.disabled[type="submit"],
td.submit input.disabled,
input.form-submit[disabled],
input#id_submitbutton[disabled],
input#id_submitbutton2[disabled],
.path-admin .buttons input[type="submit"][disabled],
td.submit input[disabled] {
    background: #0088cc/*#2b4e84*/
}


	/*Moodle Core > Add Blog Link*/
.addbloglink a {
    background: #3e65a0
}
.addbloglink a:hover,
.addbloglink a:focus {
    background: #0088cc/*#2b4e84*/
}


/*Blocks*/
.block {
	border-color: #c0ccdc
}
.block .header {
    background: #e8f0fb;
    border-bottom-color: #c0ccdc
}
.block .header h2 {
    color: #0088cc/*#2b4e84*/
}
	/*Blocks > block navigation*/
.block_navigation .block_tree .active_tree_node > a,
.block_navigation .block_tree .tree_item > a:hover,
.block_navigation .block_tree .tree_item > a:focus {
    color: #0088cc/*#2b4e84*/
}
	/*Blocks > block settings*/
.block_settings .block_tree .active_tree_node > a,
.block_settings .block_tree .tree_item > a:hover,
.block_settings .block_tree .tree_item > a:focus {
    color: #0088cc/*#2b4e84*/
}
	/*Blocks > calender*/
.block .minicalendar td.day.today,
.block .minicalendar td.day:hover {
    background: #0088cc/*#2b4e84*/
}


/*Tables*/
			/*Tables > general & flexible tables*/
table.flexible th,
.generaltable th {}
table.flexible thead th,
.generaltable thead th,
.rolecap thead th {
    background: #3e65a0
}
table.flexible tbody th,
.generaltable tbody th,
.rolecap tbody th {
    color: #3e65a0
}
			/*Tables > forumheaderlist*/
.path-mod-forum .forumheaderlist thead .header {
    background: #3e65a0
}


/*Course*/
.course_category_tree .category > .info > .categoryname {
    background-image: url([[pix:theme|cs02/t/collapsed_empty]])
}
.dir-rtl .course_category_tree .category > .info > .categoryname {
    background-image: url([[pix:theme|cs02/t/collapsed_empty_rtl]])
}
.course_category_tree .category.with_children >.info >.categoryname {
    background-image: url([[pix:theme|cs02/t/expanded]])
}
.course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|cs02/t/collapsed]])
}
.dir-rtl .course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|cs02/t/collapsed_rtl]])
}
.coursebox > .info > .coursename a {
    color: #0088cc/*#2b4e84*/
}
.coursebox > .info > .coursename a:hover,
.coursebox > .info > .coursename a:focus {
    color: #183054
}


    /*Modules: Forum & Blog*/
.forumpost .options .commands > a:hover,
.forumpost .options .commands > a:focus,
.forumpost .options .footer > a:hover,
.forumpost .options .footer > a:focus {
    color: #0088cc/*#2b4e84*/
}
.blog_entry .audience {
    color: #0088cc/*#2b4e84*/
}
.blog_entry .content .commands > a:hover,
.blog_entry .content .commands > a:focus {
    color: #0088cc/*#2b4e84*/
}
.comment-area .fd > a {
    background: #0088cc/*#2b4e84*/
}
.comment-area .fd > a:hover,
.comment-area .fd > a:focus {
    background: #7a437a
}


/*Custom Login Page*/
.custom-login-page .loginbox {
    background: #0088cc/*#2b4e84*/
}
.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap .fa {
    color: #0088cc/*#2b4e84*/
}

/*Custom Site Expo*/
.custom-site-expo .ebox .ebox-head .rcthumb {
    /*background: #0088cc;#3e65a0*/
}
